<div style="position:relative;">

	<div class="x_button" onclick="hideAddSample()">x</div>

	<!-- this section allows users to add new samples -->

	<h2 class="title">Add a New Sample</h2>

	<%= form_for @sample do |f| %>

	<div class="field sample_name">
	  Sample <%= f.label :name %><br>
	  <%= f.text_field :name, :placeholder => "Name of new audio sample", :size => 40, :class => ":name_field" %>
	</div>
	<br>

	<div class="field sample_upload">
		Record a Sample<br>
		<div id="show">Open Audio Recorder</div>
		<div id="record"></div>
	</div>

	<br>

	<div class="field sample_upload">
		Upload a Sample<br>
		<%= f.file_field :audiofile, :class => "upload_field"%>
	</div>


	<!-- 
	OR

	<div class="field sample_url">
	  Enter a Sample <%= f.label :url %><br>
	  <%= f.text_field :url, :placeholder => "URL of new audio sample", :size => 50 %>
	</div> -->

	<div class="field sample_category">
		<%= f.label :category %><br>
	    <%= f.select :category, [['Choose a category...'],['kick'],['snare'],['clap'],['hh closed'],['hh open'],['cymbal'],['fx'],['vocal']] %>
	</div>

	<div class="actions submit">
	  <%= f.submit "Create Sample", :class => "submit_button" %>
	</div>
	<% end %>
</div>

	<!-- Load Recorder on button click -->
	<script>
	$('#show').on('click', function(){
		$('#record').html('<iframe src="http://webaudiodemos.appspot.com/AudioRecorder/index.html" frameborder="0" title="#1 Record Sample #2 Save Sample #3 Upload Sample"></iframe>');
		$('#show').css('display', 'none');
	});
	</script>