<!-- main javascript for playing/switching samples -->
<%= render 'playjs' %>

<!--   <img src="../../assets/samplr_logo1.png" class="logo">
 -->
  <h2 class="title">SAMPLR</h2>

<div class="samplr_container">

  <!-- fifth sample Holder -->
  <div id="holder5" onclick="changeSrc5()" class="holder animated fadeIn">
    <audio id="5" class="push" src="<%= @samples.find(5).audiofile.url(:mp3) %>"  > </audio>
      <div class="pad">
        <h3><%= @samples.find(5).category %><br></h3>
        <h4><%= @samples.find(5).name %></h4>
      </div>
  </div>

  <!-- sixth sample holder -->
  <div id="holder6" onclick="changeSrc6()" class="holder animated fadeIn">
    <audio id="6" class="push" src="<%= @samples.find(6).audiofile.url(:mp3) %>"  ></audio>
      <div class="pad">
        <h3><%= @samples.find(6).category %><br></h3>
        <h4><%= @samples.find(6).name %></h4>
      </div>
  </div>

  <!-- seventh sample Holder -->
  <div id="holder7" onclick="changeSrc7()" class="holder animated fadeIn">
    <audio id="7" class="push" src="<%= @samples.find(7).audiofile.url(:mp3) %>"  > </audio>
      <div class="pad">
        <h3><%= @samples.find(7).category %><br></h3>
        <h4><%= @samples.find(7).name %></h4>
      </div>
  </div>

  <!-- eighth sample holder -->
  <div id="holder8" onclick="changeSrc8()" class="holder animated fadeIn">
    <audio id="8" class="push" src="<%= @samples.find(8).audiofile.url(:mp3) %>"  ></audio>
      <div class="pad">
        <h3><%= @samples.find(8).category %><br></h3>
        <h4><%= @samples.find(8).name %></h4>
      </div>
  </div>


  <div style="width: 100%;height: 1px;">&nbsp;</div>


  <!-- first sample Holder -->
  <div id="holder1" onclick="changeSrc1()" class="holder animated fadeIn">
    <audio id="1" class="push" src="<%= @samples.find(1).audiofile.url(:mp3) %>" > </audio>
      <div class="pad">
        <h3><%= @samples.find(1).category %><br></h3>
        <h4><%= @samples.find(1).name %></h4>
      </div>
  </div>
  <!-- second sample holder -->
  <div id="holder2" onclick="changeSrc2()" class="holder animated fadeIn">
    <audio id="2" class="push" src="<%= @samples.find(2).audiofile.url(:mp3) %>"  ></audio>
      <div class="pad">
        <h3><%= @samples.find(2).category %><br></h3>
        <h4><%= @samples.find(2).name %></h4>
      </div>
  </div>

  <!-- third sample Holder -->
  <div id="holder3" onclick="changeSrc3()" class="holder animated fadeIn">
    <audio id="3" class="push" src="<%= @samples.find(3).audiofile.url(:mp3) %>"  > </audio>
      <div class="pad">
        <h3><%= @samples.find(3).category %><br></h3>
        <h4><%= @samples.find(3).name %></h4>
      </div>
  </div>

  <!-- fourth sample holder -->
  <div id="holder4" onclick="changeSrc4()" class="holder animated fadeIn">
    <audio id="4" class="push" src="<%= @samples.find(4).audiofile.url(:mp3) %>"  ></audio>
      <div class="pad">
        <h3><%= @samples.find(4).category %><br></h3>
        <h4><%= @samples.find(4).name %></h4>
      </div>
  </div>

</div>



<div class="divider"></div>

<div class="metronome">
  <div class="bpm_input"><input type="number" name="bpm" value="60" /> bpm</div>

  <div class="on_off">
    <div class="start btn">On</div>
    <div class="stop btn">Off</div>
  </div>

</div>

<div class="divider"></div>


<!-- button to show sample bank -->
<div class="add_button" onclick="showSampleBank()">
  Browse Sample Bank
</div>

<!-- button to hide sample bank (originally hidden) -->
<div class="add_button" id="hide_bank" onclick="hideSampleBank()">
  Hide Sample Bank
</div>

<!-- button to show "Upload New Sample" dialog -->
<div class="add_button" onclick="showAddSample()">
  Upload New Sample
</div>

<div class="divider"></div>


<!-- this section allows users to add new samples -->
<div class="add_sample animated fadeInDown">
<%= render 'new_sample'%>
</div>

<!-- This section shows all the available samples -->
<div class="sample_bank animated fadeInUp">
<%= render 'samplebank' %>
</div>

  <script>
  function playNow1(){
    var a1 = document.getElementsByClassName("push")[0];
    a1.pause();
    a1.currentTime = 0;
    a1.play();
  }
  </script>

<!--
<div id="volume"></div>

<script>
  $("#volume").slider({
    min: 0,
    max: 100,
    value: 100,
    range: "min",
    animate: true,
    slide: function(event, ui) {
      setVolume((ui.value) / 100);
    }
  });
</script>
-->

<!-- javascript for metronome -->
<%= render 'metronomejs' %>

<!-- show/hide javascript for buttons -->
<%= render 'button_actions' %>


