<!-- main javascript for playing/switching samples -->
<%= render 'playjs' %>

<!--   <img src="../../assets/samplr_logo1.png" class="logo" alt="logo">
 -->
  <h2 class="title">SAMPLR</h2>

<div class="samplr_container">

  <!-- fifth sample Holder -->
<div class="volume_container"> 
  <div id="holder5" onclick="changeSrc5()" class="holder animated fadeIn">
    <audio id="5" class="push" src="<%= @samples.find(34).audiofile.url %>"  > </audio>
      <div class="pad">
        <h3><%= @samples.find(34).category %><br></h3>
        <h4><%= @samples.find(34).name %></h4>
      </div>
  </div>
    <div id="slider1" class="slider"></div>
</div>

  <!-- sixth sample holder -->
<div class="volume_container">
  <div id="holder6" onclick="changeSrc6()" class="holder animated fadeIn">
    <audio id="6" class="push" src="<%= @samples.find(37).audiofile.url %>"  ></audio>
      <div class="pad">
        <h3><%= @samples.find(37).category %><br></h3>
        <h4><%= @samples.find(37).name %></h4>
      </div>
  </div>
    <div id="slider2" class="slider"></div>
</div>

  <!-- seventh sample Holder -->
<div class="volume_container">
  <div id="holder7" onclick="changeSrc7()" class="holder animated fadeIn">
    <audio id="7" class="push" src="<%= @samples.find(38).audiofile.url %>"  > </audio>
      <div class="pad">
        <h3><%= @samples.find(38).category %><br></h3>
        <h4><%= @samples.find(38).name %></h4>
      </div>
  </div>
    <div id="slider3" class="slider"></div>
</div>

  <!-- eighth sample holder -->
<div class="volume_container">
  <div id="holder8" onclick="changeSrc8()" class="holder animated fadeIn">
    <audio id="8" class="push" src="<%= @samples.find(39).audiofile.url %>"  ></audio>
      <div class="pad">
        <h3><%= @samples.find(39).category %><br></h3>
        <h4><%= @samples.find(39).name %></h4>
      </div>
    <div id="slider4" class="slider"></div>
  </div>
</div>

  <div style="width: 100%;height: 5px;">&nbsp;</div>

  <!-- first sample Holder -->
<div class="volume_container">
  <div id="holder1" onclick="changeSrc1()" class="holder animated fadeIn">
    <audio id="1" class="push" src="<%= @samples.find(1).audiofile.url %>" > </audio>
      <div class="pad">
        <h3><%= @samples.find(1).category %><br></h3>
        <h4><%= @samples.find(1).name %></h4>
      </div>
  </div>
    <div id="slider5" class="slider"></div>
</div>

  <!-- second sample holder -->
<div class="volume_container">
  <div id="holder2" onclick="changeSrc2()" class="holder animated fadeIn">
    <audio id="2" class="push" src="<%= @samples.find(2).audiofile.url %>"  ></audio>
      <div class="pad">
        <h3><%= @samples.find(2).category %><br></h3>
        <h4><%= @samples.find(2).name %></h4>
      </div>
  </div>
    <div id="slider6" class="slider"></div>
</div>

  <!-- third sample Holder -->
<div class="volume_container">
  <div id="holder3" onclick="changeSrc3()" class="holder animated fadeIn">
    <audio id="3" class="push" src="<%= @samples.find(32).audiofile.url %>"  > </audio>
      <div class="pad">
        <h3><%= @samples.find(32).category %><br></h3>
        <h4><%= @samples.find(32).name %></h4>
      </div>
  </div>
    <div id="slider7" class="slider"></div>
</div>

  <!-- fourth sample holder -->
<div class="volume_container">
  <div id="holder4" onclick="changeSrc4()" class="holder animated fadeIn">
    <audio id="4" class="push" src="<%= @samples.find(33).audiofile.url %>"  ></audio>
      <div class="pad">
        <h3><%= @samples.find(33).category %><br></h3>
        <h4><%= @samples.find(33).name %></h4>
      </div>
  </div>
    <div id="slider8" class="slider"></div>
</div>

</div>



<div class="divider"></div>

<!-- here's the metronome widget -->
<div class="metronome">

  <!-- input bpm here -->
  <div class="bpm_input"><input type="number" name="bpm" value="60" /> bpm</div>

<!-- turn metronome on and off -->
  <div class="on_off">
    <div class="start btn">On</div>
    <div class="stop btn">Off</div>
  </div>

</div>

<div class="divider"></div>


<!-- button to show sample bank -->
<div class="add_button" onclick="showSampleBank()">
  Browse Sample Bank
</div>

<!-- button to hide sample bank (originally hidden) -->
<div class="add_button" id="hide_bank" onclick="hideSampleBank()">
  Hide Sample Bank
</div>

<!-- button to show "Upload New Sample" dialog -->
<div class="add_button" onclick="showAddSample()">
  Upload New Sample
</div>

<div class="divider"></div>


<!-- this section allows users to add new samples -->
<div class="add_sample animated fadeInDown">
<%= render 'new_sample'%>
</div>

<!-- This section shows all the available samples -->
<div class="sample_bank animated fadeInUp">
<%= render 'samplebank' %>
</div>


<!-- javascript for metronome -->
<%= render 'metronomejs' %>

<!-- show/hide javascript for buttons -->
<%= render 'button_actions' %>

<%= render 'volume_controls' %>


